.sidebar-img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-left: 3rem;
}
.sidebar-img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
}
